.header-box {
  display: flex;
  background-color: #fff;
  .trigger {
    margin: 0 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .breadcrumb-box {
    line-height: inherit;
  }
}

// 设置 面包屑的动画效果
.breadrumb-animate-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.breadrumb-animate-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s;
}
.breadrumb-animate-exit {
  opacity: 1;
  transform: translateY(0);
}
.breadrumb-animate-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s;
}
