.article-create-box {
  .header-box {
    display: flex;
    margin-bottom: 12px;
    .title-input {
      flex: 1;
    }
    .btn-box {
      button {
        width: 100px;
        margin-left: 10px;
      }
    }
  }
  // 文章预览
  // .preview-modal-box {
  //   .modal-box {
  //     .article-categroy {
  //     }
  //   }
  // }
}
