.login-form {
    max-width: 400px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    .login-text {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    .login-form-button {
        width: 100%;
    }
    .password-opera {
        .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
        }
        .login-form-forgot {
            color: #ccc;
            cursor: pointer;
        }
    }
}
